<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Random Word Generator</title>
    {% load staticfiles %}
    <link rel="stylesheet" href={% static "css/stylesheet.css" %}>
  </head>

  <body id="content">
    {% if request.session.attempt == 0 %}
      <h3>Random Word </h3>
    {% else %}
      <h3>Random Word (attempt #{{request.session.counter}})</h3>
      <h1>{{ generate }}</h1>
    {% endif %}

    <form action="/generate" method="POST">
    {% csrf_token %}
      <button type="submit" value="submit">Generate</button>
    </form>

    <form action="/reset" method="POST">
    {% csrf_token %}
    <button type="submit" value="reset">Reset</button>
</form>
  </body>
</html>
