* {
  margin: 0;
  padding: 0;
}

#body {
  margin: 11px;
}

input {
  display: inline-block;
}

li {
  list-style: none;
}

.error {
  color: red;
}

.success {
  color: green;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin-top: 10px;
}

.row1 {
  background: lightgray;
}

.row2 {
  background: #FFF;
}

.secret {
  margin: 10px 0;
  border: 1px solid lightgray;
  padding: 10px
}

.button {
  padding: 3px;
}
