<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets Assignment</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'secretsApp/css/stylesheet.css' %}"media="screen" title="no title"  charset="utf-8">
  </head>

  <body id="body">
    <header>
      <a class="pull-right" href="{% url 'users:logout' %}">Logout</a>
      <h1>Shared Secrets, Shhh...</h1>

      {% if messages %}
          <ul class='messages'>
          {% for message in messages %}
              <li {% if message.tags %}class='alert alert-{{message.tags}}'{% endif %}>{{message}}</li>
          {% endfor %}
          </ul>
      {% endif %}
    </header>

    <div id="add_secret">
      <form class="" action="{% url 'secretsApp:add' %}" method="POST">
        {% csrf_token %}
        <textarea name="content" rows="8" cols="200"></textarea>
        <input class="button" type="submit" name="submit" value="Post Secret">
      </form>
    </div>

    <div id="secrets">
      {% if secrets %}
        {% for secret in secrets %}
          <div class="secret text-muted">
            {% if request.session.user_id == secret.user.id %}
          <a class="pull-right" style="padding:0 0 0 4px" href="{% url 'secretsApp:delete' id=secret.id %}"> Delete</a>
          {% endif %}
          <a class="pull-right" href="{% url 'secretsApp:like' secret_id=secret.id %}">Like</a>
          <p>{{secret.content}}</p>
          <p>Number of likes: {{secret.likes.count}}</p>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
