* {
  margin: 0;
  padding: 0;
}

#wrapper {
  margin: 10px auto 10px auto;
  width: 600px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
  margin-left: 25%;
}

h1, h2 {
  text-align: center;
  margin: 20px;
}

.button {
  margin-top: 10px;
}

table {
  width: 600px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
  margin-left: 15%;
}
