<!DOCTYPE html>
<html>
<head>
  <title>Belt Reviewer Assignment</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'login/css/stylesheet.css' %}">
</head>

<body>
  <div class="container">
    <h1>Welcome!</h1> {% if messages %} {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
    {% endfor %} {% endif %}

    <div class="row">
      <div class="col-md-6">

        <form class="" action="{% url 'users:registration' %}" method="POST">
          {% csrf_token %}

          <h2>Register</h2>
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input name="first_name" type="text" class="form-control" id="first_name" placeholder="">
          </div>

          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input name="last_name" type="text" class="form-control" id="last_nameLast" placeholder="">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input name="email_address" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword2">Confirm Password</label>
            <input name="confirm_password" type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
          </div>
          <br>
          <button type="submit" name="register" class="btn btn-default">Register</button>
        </form>
      </div>

      <div class="col-md-6">

        <form class="" action="{% url 'users:login' %}" method="POST">
          <h2>Login</h2>
          {% csrf_token %}

          <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input name="email_address" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

          <button type="submit" name="login" class="btn btn-default">Login</button>
        </form>
      </div>
    </div>

  </div>
</body>

</html>
