button {
  padding: 5px;
  background-color: gray;
  color: black;
  margin: 3px;
}

body {
  text-align: center;
}

.success {
  color: green;
}

input, select, textarea {
  border: 1px solid grey;
}
