* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#wrapper {
  width: 1070px;
  margin: 0px auto;
  padding: 5px;
  overflow: scroll;
  color: black;
}

#submit {
  margin-left: 1000px;
}

#form {
  display: inline-block;
  margin: 10px;
}

#confirm {
  margin-top: 100px;
}

#yes-button {
  background-color: red;
}
