<!DOCTYPE html>
<html>
  <head>
    <title>Book Reviews</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'books/css/stylesheet.css' %}">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Book Review</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'books:home' %}">Home<span class="sr-only">(current)</span></a></li>
              <li><a href="{% url 'books:add_book' %}">Add New Book</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'users:logout' %}">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      {% if messages %}
        {% for message in messages %}
          {{message}}
        {% endfor %}
      {% endif %}

      <div class="wrapper">
        <h2>{{book.book_title}} <span class="glyphicon glyphicon-book"></span></h2>
        <p>Author: {{book.author}} </p>
      </div>

        {% for review in reviews %}
        <div class="review">
          <h4><strong>Rating: </strong>{% for i in 'x'|rjust:review.rating %} <span><i class="fa fa-star-o" aria-hidden="true"></i></span> {% endfor %}</h4>
          <h4><strong><a href="{% url 'books:user' id=review.user.id %}">{{review.user.first_name}}</a> says: </strong>{{review.review}}</h4>
          <h5><em>{{review.created_at}}</em></h5>
          {% if request.session.user_id == review.user.id %}
            <a class="btn btn-danger" href="{% url 'books:destroy' id=review.id %}" role="button">
              Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
          {% endif %}
        </div>
        {% endfor %}

      <div class="add-review">
        <h3>Add Review</h3>
        <form class="form-horizontal" action="{% url 'books:create_review' id=book.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="new_review" class="col-sm-1 control-label">Review</label>
            <div class="col-sm-6">
              <textarea class="form-control" name="new_review" rows="3"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="rating" class="col-sm-1 control-label">Rating</label>
            <div class="col-sm-6">
              <select class="form-control" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-6">
              <button type="submit" class="btn btn-info">Submit Review</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
