<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Ninja Gold</title>
    {% load staticfiles %}
    <link rel="stylesheet" href={% static 'css/stylesheet.css' %}>
  </head>

  <body>
    <div id='wrapper'>
      <p class="tally">Your Gold: {{ request.session.gold }}</p>

      <div class=box>
      <form action="/process_money" method="POST">
      {% csrf_token %}
        <h3>Farm</h3>
        <p>(earns 10-20 gold)</p>
        <input type="hidden" name="place" value="farm">
        <button type="submit">Find Gold!</button>
      </form>
    </div>

    <div class=box>
      <form action="/process_money" method="POST">
      {% csrf_token %}
        <h3>Cave</h3>
        <p>(earns 5-10 gold)</p>
        <input type="hidden" name="place" value="cave">
        <button type="submit">Find Gold!</button>
      </form>
    </div>

    <div class=box>
      <form action="/process_money" method="POST">
      {% csrf_token %}
        <h3>House</h3>
        <p>(earns 2-5 gold)</p>
        <input type="hidden" name="place" value="house">
        <button type="submit">Find Gold!</button>
      </form>
    </div>

    <div class=box>
      <form action="/process_money" method="POST">
      {% csrf_token %}
        <h3>Casino</h3>
        <p>(earns/takes 0-50 gold)</p>
        <input type="hidden" name="place" value="casino">
        <button type="submit">Find Gold!</button>
      </form>
    </div>

    <div id="activity-log">
      <h4>Activities:</h4>
      <ul>
        {% for each in request.session.activities %}
        <li>{{ each }}</li>
        {% endfor %}
      </ul>
    </div>

  </body>
</html>
